@model WebApp1.Models.PriceModel
<h1>hey</h1>
<form asp-action="CreateGivenAttribute">
    <label asp-for="Name">Enter the attribute name</label>
    <input asp-for="Name" class="form-control"/>
    <label asp-for="XPath">Enter the XPath</label>
    <input asp-for="XPath" class="form-control"/>
    <input type="submit" value="Ok" class="btn btn-primary" />
</form>