
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>@ViewBag.Result</h1>
<h1>@ViewBag.Id</h1>
<h1>@ViewBag.Name</h1>
<h1>@ViewBag.Url</h1>
<div>
    <a asp-action="Index">Back to List</a>
</div>