@model WebApp1.Models.SearchedItem

<div class="col-md-4">
	<form asp-action="AddEvent">
		<div class="form-group" id="divActionSetInputVal">
			<input asp-for="EventType" value="2" style="display:none" />
			<input asp-for="XPath" placeholder="Enter XPath here" class="form-control" />
			<label>Enter input to set</label>
			<input asp-for="Text" class="form-control" />
			<label>Enter read items id to set its text as input</label>
			<input asp-for="ReadItemsId" class="form-control" />
			<span asp-validation-for="Text" class="text-danger"></span>
		</div>
		<div class="form-group">
			<input type="submit" value="Continue" class="btn btn-primary" />
			<a href="/Home/SelectedItemsList" class="btn btn-danger">Cancel</a>
		</div>
	</form>
</div>